<ion-header>
    <ion-navbar color="primary">
        <ion-buttons left>
            <button ion-button (click)="close()">Cancel</button>
        </ion-buttons>
        <ion-buttons right>
            <button [disabled]="saveDisabled" ion-button (click)="save()">Save</button>
        </ion-buttons>
    </ion-navbar>
 
    <ion-label>From</ion-label>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="query_start" (ionInput)="searchStartPlace()"></ion-searchbar>
    </ion-toolbar>
 
    <ion-list>
        <ion-item *ngFor="let place of places_start" (click)="selectStartPlace(place)">{{place.description}}</ion-item>
    </ion-list>
 
    <ion-label>To</ion-label>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="query_end" (ionInput)="searchEndPlace()"></ion-searchbar>
    </ion-toolbar>
 
    <ion-list>
        <ion-item *ngFor="let place of places_end" (click)="selectEndPlace(place)">{{place.description}}</ion-item>
    </ion-list>

</ion-header>
 
<ion-content>
 
    <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
    </div>
 
    <div #map id="map">
        <ion-spinner></ion-spinner>
    </div>
 
</ion-content>