<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Transport Confirmation</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col>     
                <ion-content padding>
                    <label>Date: {{myDate}}</label>
                </ion-content>
                </ion-col>
            
                <ion-col>     
                    <ion-content padding>
                    <label>Start Time: {{timeStarts}}</label>
                    </ion-content>
                </ion-col>
            </ion-row>

            <ion-row>
                    <ion-col>     
                    <ion-content padding>
                        <label>From: {{start}}</label>
                    </ion-content>                        
                    </ion-col>
                
                    <ion-col>     
                        <ion-content padding>
                        <label>To: {{destination}}</label>
                        </ion-content>
                    </ion-col>
            </ion-row>
      
            <ion-row>
                    <ion-col>     
                    <ion-content padding>
                        <label>Mode: {{mode}}</label>
                    </ion-content>                        
                    </ion-col>
                
                    <ion-col *ngIf="mode == 'Car'">     
                        <ion-content padding>
                        <label *ngIf="mode == 'Car'">Mileage: {{distance}}</label>
                        </ion-content>
                    </ion-col>
            </ion-row>
  
            <ion-row *ngIf="mode == 'Car'">
                    <ion-col>     
                    <ion-content padding>
                        <label *ngIf="mode == 'Car'">Parking: {{parking}}</label>
                    </ion-content>                        
                    </ion-col>
                
                    <ion-col>     
                        <ion-content padding>
                        <label *ngIf="mode == 'Car'">ERP: {{erp}}</label>
                        </ion-content>
                    </ion-col>
            </ion-row>            
 
            <ion-row>
                    <ion-col>     
                    <ion-content padding>
                        <label>Amount: {{amount}}</label>
                    </ion-content>                        
                    </ion-col>
            </ion-row>
            <ion-row>
                    <ion-col>     
                        <ion-content padding>
                        <label>Purpose: {{purpose}}</label>
                        </ion-content>
                    </ion-col>
            </ion-row>            