<ion-header>
        <ion-navbar>
          <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
          <ion-title>Transport Overview</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content>
          <ion-grid>
              <ion-row>
                <ion-col>     
          <ion-item>      
            <ion-label color="dayout" floating><ion-icon name="md-calendar"></ion-icon>     Date</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="myDate"></ion-datetime>
          </ion-item>
        </ion-col>
        
        <ion-col>          
          <ion-item>     
            <ion-label color="dayout" floating><ion-icon name="md-time"></ion-icon>     Start Time</ion-label>
            <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="timeStarts"></ion-datetime>
          </ion-item>
        </ion-col>
        </ion-row>
      
        <ion-row>
            <ion-col>  
          <ion-item>      
            <ion-label color="dayout" floating><ion-icon name="md-pin"></ion-icon>     From</ion-label>
            <ion-select [(ngModel)]="start_txt">
                <ion-option *ngFor="let ut of startList" [value]="ut.value" [innerHTML]="ut.label"></ion-option>
                <ion-option value="Office">Office</ion-option>
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Others">Others</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="start_txt == 'Others'">
            <ion-input [(ngModel)]="start" placeholder="Address or postal code"></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col>
          <ion-item>      
            <ion-label color="dayout" floating><ion-icon name="md-pin"></ion-icon>     To</ion-label>
            <ion-select [(ngModel)]="destination_txt">
                <ion-option *ngFor="let ut of destinationList" [value]="ut.value" [innerHTML]="ut.label"></ion-option>
                <ion-option value="Home">Home</ion-option>
                <ion-option value="Office">Office</ion-option>
                <ion-option value="Others">Others</ion-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="destination_txt == 'Others'">
            <ion-input [(ngModel)]="destination" placeholder="Address or postal code"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-row>
          <ion-col>  
          <ion-item>      
            <ion-label color="dayout" floating><ion-icon name="md-car"></ion-icon>     Mode of Transport</ion-label>
            <ion-select [(ngModel)]="mode">
              <ion-option *ngFor="let ut of modeList" [value]="ut.value" [innerHTML]="ut.label"></ion-option>
              <ion-option value="Taxi">Taxi</ion-option>
              <ion-option value="Car">Car</ion-option>
            </ion-select>
            <button *ngIf="mode == 'Car'" item-right ion-button round outline (click)="generateDistance()"><ion-icon name="md-speedometer"></ion-icon>     Calculate Mileage</button>
          </ion-item>
        </ion-col>
      
      <ion-col>
          <ion-item *ngIf="mode == 'Car'">
              <ion-label color="dayout" floating>Mileage</ion-label>
              <ion-input [readonly]="true" color="primary"  [(ngModel)]="distance" floating></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
            <ion-col>  
          <ion-item *ngIf="mode == 'Car'">
            <ion-label color="dayout" floating><ion-icon name="md-stats"></ion-icon>     Parking</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>
      
        <ion-col>
          <ion-item *ngIf="mode == 'Car'">
            <ion-label color="dayout" floating><ion-icon name="md-stats"></ion-icon>     ERP</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-col>  
      </ion-row>
      
          <ion-item>      
            <ion-label color="dayout" floating><ion-icon name="md-cash"></ion-icon>     Amount ($) </ion-label>
            <ion-input></ion-input>
          </ion-item>
          
          <ion-item>      
            <ion-label color="dayout"><ion-icon name="md-briefcase"></ion-icon>     Purpose</ion-label>
            <ion-textarea></ion-textarea>
          </ion-item>
        </ion-grid>
      
          <ion-fab right bottom>
            <button ion-fab color="dayout" (click)="takePicture()">
                <ion-icon name="md-camera"></ion-icon>
            </button>
          </ion-fab>
      
          <button color='dayout' ion-button block (click)="submitTransport()">Submit</button></ion-content>